/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

:root {
  
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: system-ui, sans-serif;
  font-size: 10px;
  text-shadow: 1px 1px rgba(0,0,0,0.5);
}
@media only screen and (max-width: 550px) {
  html {
    font-size: 8px;    
  }
}
@media only screen and (max-height: 550px) {
  html {
    font-size: 8px;    
  }
}

@media only screen and (max-width: 450px) {
  html {
    font-size: 7px;    
  }
}
@media only screen and (max-height: 450px) {
  html {
    font-size: 7px;    
  }
}

*, *::before, *::after {
  margin:0;
  padding:0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: hsla(0, 66%, 66%, 1);
  color: white;
  background-image: -o-linear-gradient(30deg, sienna, peachpuff);
  background-image: linear-gradient(60deg, sienna, peachpuff)
}

header h1 {
  font-size: 5rem;
}

#root {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}


footer {
  font-family: system-ui, sans-serif;
  font-size: 2em;
}

footer i {
  font-family: 'Dancing Script', cursive;
/*   padding-left: 1em; */
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stopwatch-body {
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  background-color: black;
  -webkit-box-shadow: inset 0 0 5px 2px rgba(255,255,255,0.4);
          box-shadow: inset 0 0 5px 2px rgba(255,255,255,0.4);
}

.bottom-half {
  width: 46rem;
  height: 23rem;
  top: 4rem;
  left: 2rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
/*   gap: 1rem; */
}

.bottom-half > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  
}

.selectors {
  width: 30rem;
  font-size: 3rem;
  display:  -ms-grid;
  display:  grid;
  gap: 1rem;
      grid-template-areas:
    "break-label break-setting break-up break-down"
    "session-label session-setting session-up session-down"
}

#break-label {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: break-label;
  -ms-grid-column-align: end;
      justify-self: end;
}
#break-setting {-ms-grid-row: 1;-ms-grid-column: 3;grid-area: break-setting;}
#break-up {-ms-grid-row: 1;-ms-grid-column: 5;grid-area: break-up;}
#break-down {-ms-grid-row: 1;-ms-grid-column: 7;grid-area: break-down;}
#session-label {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: session-label;
  -ms-grid-column-align: end;
      justify-self: end;
}
#session-setting {-ms-grid-row: 3;-ms-grid-column: 3;grid-area: session-setting;}
#session-up {-ms-grid-row: 3;-ms-grid-column: 5;grid-area: session-up;}
#session-down {-ms-grid-row: 3;-ms-grid-column: 7;grid-area: session-down;}


.selector {
  font-size: 5rem;
  font-weight: normal;
  border: 1px solid white;
}

.selector-label {
/*   white-space: nowrap; */
/*   padding: 1rem; */
/*   text-align: center; */
}

.arrow {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: dimgray;
  padding: 0.6rem;
  border-radius: 1rem;
  -webkit-transition:  all 0.3s;
  -o-transition:  all 0.3s;
  transition:  all 0.3s;
  -webkit-box-shadow: inset 0 0 2px 1px rgba(255,255,255,0.5);
          box-shadow: inset 0 0 2px 1px rgba(255,255,255,0.5);
}

.arrow:hover {
  background-color: #363636;
  -webkit-box-shadow: inset 0 0 2px 1px rgba(255,255,255,0.3);
          box-shadow: inset 0 0 2px 1px rgba(255,255,255,0.3);

}

.arrow:active {
  -webkit-box-shadow: inset 0px 0px 3px 2px rgba(255,255,255,0.3);
          box-shadow: inset 0px 0px 3px 2px rgba(255,255,255,0.3);
}

.session-box {
  position: relative;
  left: 3rem;
  top: 3rem;
  width: 44rem;
  height: 21rem;
  background-color: gray;
  -webkit-box-shadow: 0 0 5px 3px rgba(255,255,255,0.4);
          box-shadow: 0 0 5px 3px rgba(255,255,255,0.4);
  border-top-left-radius:54% 102%;
  border-top-right-radius: 54% 102%;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
/*   padding-top: 1rem; */
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  gap: 2rem;
}

#timer-label {
  font-size: 3rem;
}

#time-left {
  font-size: 8rem;
}

.controls {
  font-size: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  
  gap: 1rem;
}

.controls > * {
  padding: 0 2rem 0 2rem;
  
  border-radius: 1rem;
  padding: 1rem;
  width: 7rem;
  height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.control-button {
  background-color: dimgray;
    -webkit-transition:  all 0.3s;
    -o-transition:  all 0.3s;
    transition:  all 0.3s;
  -webkit-box-shadow: inset 0 0 2px 1px rgba(255,255,255,0.5);
          box-shadow: inset 0 0 2px 1px rgba(255,255,255,0.5);
}

.control-button:hover {
  background-color: #363636;
  -webkit-box-shadow: inset 0 0 2px 1px rgba(255,255,255,0.3);
          box-shadow: inset 0 0 2px 1px rgba(255,255,255,0.3);

}

.control-button:active {
  -webkit-box-shadow: inset 0px 0px 3px 2px rgba(255,255,255,0.3);
          box-shadow: inset 0px 0px 3px 2px rgba(255,255,255,0.3);
}