/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/




footer {
  font-family: system-ui, sans-serif;
  font-size: 2em;
}

footer i {
  font-family: 'Dancing Script', cursive;
/*   padding-left: 1em; */
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stopwatch-body {
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  background-color: black;
  -webkit-box-shadow: inset 0 0 5px 2px rgba(255,255,255,0.4);
          box-shadow: inset 0 0 5px 2px rgba(255,255,255,0.4);
}

.bottom-half {
  width: 46rem;
  height: 23rem;
  top: 4rem;
  left: 2rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
/*   gap: 1rem; */
}

.bottom-half > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  
}

.selectors {
  width: 30rem;
  font-size: 3rem;
  display:  -ms-grid;
  display:  grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
      grid-template-areas:
    "break-label   break-setting   break-up   break-down volume"
    "session-label session-setting session-up session-down volume"
}



#break-label {
  grid-area: break-label;
  -ms-grid-column-align: end;
      justify-self: end;
}
#break-setting {grid-area: break-setting;}
#break-up {grid-area: break-up;}
#break-down {grid-area: break-down;}
#session-label {
  grid-area: session-label;
  -ms-grid-column-align: end;
      justify-self: end;
}
#session-setting {grid-area: session-setting;}
#session-up {grid-area: session-up;}
#session-down {grid-area: session-down;}
.volume-control { grid-area: volume;}

.selector {
  font-size: 5rem;
  font-weight: normal;
  border: 1px solid white;
}

.selector-label {
/*   white-space: nowrap; */
/*   padding: 1rem; */
/*   text-align: center; */
}
.selector-num {
  text-align: right;
  min-width: 4rem;
}


.arrow {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: dimgray;
  padding: 0.6rem;
  border-radius: 1rem;
  -webkit-transition:  all 0.3s;
  -o-transition:  all 0.3s;
  transition:  all 0.3s;
  -webkit-box-shadow: inset 0 0 2px 1px rgba(255,255,255,0.5);
          box-shadow: inset 0 0 2px 1px rgba(255,255,255,0.5);
}

.arrow:hover {
  background-color: #363636;
  -webkit-box-shadow: inset 0 0 2px 1px rgba(255,255,255,0.3);
          box-shadow: inset 0 0 2px 1px rgba(255,255,255,0.3);

}

.arrow:active {
  -webkit-box-shadow: inset 0px 0px 3px 2px rgba(255,255,255,0.3);
          box-shadow: inset 0px 0px 3px 2px rgba(255,255,255,0.3);
}

.session-box {
  position: relative;
  left: 3rem;
  top: 3rem;
  width: 44rem;
  height: 21rem;
  background-color: gray;
  -webkit-box-shadow: 0 0 5px 3px rgba(255,255,255,0.4);
          box-shadow: 0 0 5px 3px rgba(255,255,255,0.4);
  border-top-left-radius:54% 102%;
  border-top-right-radius: 54% 102%;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
/*   padding-top: 1rem; */
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  gap: 2rem;
}

#timer-label {
  font-size: 3rem;
}

#time-left {
  font-size: 8rem;
}

.controls {
  font-size: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  
  gap: 1rem;
}

.controls > * {
  padding: 0 2rem 0 2rem;
  
  border-radius: 1rem;
  padding: 1rem;
  width: 7rem;
  height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.control-button {
  background-color: dimgray;
    -webkit-transition:  all 0.3s;
    -o-transition:  all 0.3s;
    transition:  all 0.3s;
  -webkit-box-shadow: inset 0 0 2px 1px rgba(255,255,255,0.5);
          box-shadow: inset 0 0 2px 1px rgba(255,255,255,0.5);
}

.control-button:hover {
  background-color: #363636;
  -webkit-box-shadow: inset 0 0 2px 1px rgba(255,255,255,0.3);
          box-shadow: inset 0 0 2px 1px rgba(255,255,255,0.3);

}

.control-button:active {
  -webkit-box-shadow: inset 0px 0px 3px 2px rgba(255,255,255,0.3);
          box-shadow: inset 0px 0px 3px 2px rgba(255,255,255,0.3);
}

.volume-control {
  
}

/* https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/ */
input[type=range] {
  transform: rotate(-90deg); 
  -webkit-appearance: none; /* Blank Slate Style */
  width: 10rem; /* Blank Slate Style */
  /* height: 100%; */
  background: transparent; /* Blank Slate Style */
}

input[type=range]::-ms-track {
  width: 100%; /* Blank Slate Style */
  cursor: pointer; /* Blank Slate Style */
  background: transparent; /* Blank Slate Style */
  border-color: transparent; /* Blank Slate Style */
  color: transparent; /* Blank Slate Style */
}

input[type=range]:focus {
  outline: none; /* Blank Slate Style */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Blank Slate Style */
  border: 1px solid dimgray;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: linear-gradient(90deg,#101010 0%, #101010 45%, #cccccc 45%, #cccccc 55%, #101010 55%, #101010 100%);
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

input[type=range]::-moz-range-thumb {
  border: 1px solid dimgray;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: linear-gradient(90deg,#101010 0%, #101010 45%, #cccccc 45%, #cccccc 55%, #101010 55%, #101010 100%);
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

input[type=range]::-ms-thumb {
  border: 1px solid dimgray;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: linear-gradient(90deg,#101010 0%, #101010 45%, #cccccc 45%, #cccccc 55%, #101010 55%, #101010 100%);
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}


input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border-width: 16px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}

input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

